eFactura/eFactura/Service References/AutorizacionComp/AutorizacionComprobante.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://autorizacion.ws/" targetNamespace="http://autorizacion.ws/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="autorizacionComprobante" type="tns:autorizacionComprobante" />
  <xs:element name="autorizacionComprobanteResponse" type="tns:autorizacionComprobanteResponse" />
  <xs:complexType name="autorizacionComprobante">
    <xs:sequence>
      <xs:element minOccurs="0" name="key" type="xs:string" />
      <xs:element minOccurs="0" name="clave_autorizacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="autorizacionComprobanteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>