eFactura/eFactura/Service References/RecepcionComp/RecepcionComprobante.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://recepcion.ws/" targetNamespace="http://recepcion.ws/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="validarComprobante" type="tns:validarComprobante" />
  <xs:element name="validarComprobanteResponse" type="tns:validarComprobanteResponse" />
  <xs:complexType name="validarComprobante">
    <xs:sequence>
      <xs:element minOccurs="0" name="key" type="xs:string" />
      <xs:element minOccurs="0" name="value" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="validarComprobanteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>